{% include 'navbar.html' %}
{%load static %}
<hr>
<br>
<div class='container_ac'> 
  <h6 class="text-4xl font-extrabold dark:text-white">Ocupaciones Actuales</h6>
  <div class='occu_actual'>
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:current_graph_restaurants/png;base64,{{ current_graph_restaurants }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Mesas de restaurantes : {{ current_occupation_restaurants }}</figcaption>
          </figure>
      </div>
      
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:current_graph_sports/png;base64,{{ current_graph_sports }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Escenarios deportivos : {{ current_occupation_sports }}</figcaption>
          </figure>
      </div>
      
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:current_graph_relax/png;base64,{{ current_graph_relax }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Zonas de descanso : {{ current_occupation_relax }}</figcaption>
          </figure>
      </div>
  </div>
</div>
<hr>
<br>

<div class='container_ac'><h6 class="text-4xl font-extrabold dark:text-white">Fecha Busquedas</h6></div>
<p class="text-2xl text-gray-900 dark:text-white">Fecha de filtro : {{ filter_date }}</p>
  <tr>
    <th><label for="id_start_date">Selecciona fecha de inicio:</label></th>
    <td>
        <div class="relative max-w-sm">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <form action="{% url 'info' %}" method="POST">
                {% csrf_token %}
                <input name="start_date" id="start_date" type="date" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                <button class="custom-button" type="submit" style="color : blue;">Buscar</button>
            </form>
        </div>
        </td>
    </tr>
</div>
<hr>
<br>
<div class='container_ac'><h6 class="text-4xl font-extrabold dark:text-white">Ocupaciones por Hora</h6></div>
<div class="justify-center"><p class="text-2xl text-gray-900 dark:text-white">{{ filter_date }}</p>
</div>


<div class="image-container flex items-center justify-center">
    <figure class="max-w-lg">
        <img class="w-full h-auto rounded-lg" src="data:occupation_by_hours/png;base64,{{ occupation_by_hours }}" alt="image description">
        <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
    </figure>
</div>

<hr>
<br>

<div class='container_ac'><h6 class="text-4xl font-extrabold dark:text-white">Top 5 espacios mas utilizados desde {{ filter_date }} hasta hoy</h6></div>
    <div class='occu_actual'>
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:most_used_restaurants/png;base64,{{ most_used_restaurants }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
      </div>
      
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:most_used_sports/png;base64,{{ most_used_sports }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
      </div>
      
      <div class="image-container">
          <figure class="max-w-lg">
              <img class="h-auto max-w-full rounded-lg" src="data:most_used_relax/png;base64,{{ most_used_relax }}" alt="image description">
              <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
      </div>
  </div>
</div>

<!--<div class='container_ac'> 
    <h6 class="text-4xl font-extrabold dark:text-white">Ocupaciones Actuales</h6>
    <div class='occu_actual'>
        <div class="image-container">
            <figure class="max-w-lg">
                <img class="h-auto max-w-full rounded-lg" src="data:current_graph_restaurants/png;base64,{{ current_graph_restaurants }}" alt="image description">
                <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Mesas de restaurantes : {{ current_occupation_restaurants }}</figcaption>
            </figure>
        </div>
        
        <div class="image-container">
            <figure class="max-w-lg">
                <img class="h-auto max-w-full rounded-lg" src="data:current_graph_sports/png;base64,{{ current_graph_sports }}" alt="image description">
                <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Escenarios deportivos : {{ current_occupation_sports }}</figcaption>
            </figure>
        </div>
        
        <div class="image-container">
            <figure class="max-w-lg">
                <img class="h-auto max-w-full rounded-lg" src="data:current_graph_relax/png;base64,{{ current_graph_relax }}" alt="image description">
                <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400">Zonas de descanso : {{ current_occupation_relax }}</figcaption>
            </figure>
        </div>
    </div>
</div>
<hr>
<br>
<div class='container_ac'><h6 class="text-4xl font-extrabold dark:text-white">Filtrar por espacio</h6></div>
<form method="get" class="custom-form">
    <tr>
    <th><label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" for="id_space_id">Espacio</label></th>
    <td>
        <select class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" name="space_id" id="id_space_id">
            <option value="" selected>---------</option>

            <option value="2">Cancha principal</option>

            <option value="3">Cancha secundaria</option>

            <option value="4">Mesa de ping pong 1</option>

            <option value="5">Mesa de ping pong 2</option>

            <option value="31">Hamaca 1 - Bloque de Musica</option>

            <option value="32">Piscina</option>

        </select>
    </td>
  </tr>

  <tr>
    <th><label for="id_start_date">Fecha Fin:</label></th>
    <td>
      
      
      
        <div class="relative max-w-sm">
            <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                </svg>
            </div>
            <input name="start_date" id="id_start_date" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
        </div>
  
      
        </td>
    </tr>

  <tr>
    <th><label for="id_end_date">Fecha Fin</label></th>
    <td>
      
      
      <div class="relative max-w-sm">
        <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
           <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
            </svg>
        </div>
        <input name="end_date" id="id_end_date" datepicker datepicker-autohide type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
      </div>
      
        
      
    </td>
  </tr>
    <button class="custom-button" type="submit" style="color : blue;">Search</button>

</form>
<div class='container_ac'>
    <p class="text-2xl text-gray-900 dark:text-white">Numero de veces ocupado : {{ spaces }}</p>
    
    <div class='occu_actual'>
        <figure class="max-w-lg">
            <img class="h-auto max-w-full rounded-lg" src="data:most_used_restaurants/png;base64,{{ most_used_restaurants }}" alt="image description">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
          <figure class="max-w-lg">
            <img class="h-auto max-w-full rounded-lg" src="data:most_used_sports/png;base64,{{ most_used_sports }}" alt="image description">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
          <figure class="max-w-lg">
            <img class="h-auto max-w-full rounded-lg" src="data:most_used_relax/png;base64,{{ most_used_relax }}" alt="image description">
            <figcaption class="mt-2 text-sm text-center text-gray-500 dark:text-gray-400"></figcaption>
          </figure>
</div>
</div>-->



