body {
    margin: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#map-container {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#map {
    width: 800px;
    height: 600px;
}