<<<<<<< HEAD
* {
    box-sizing: border-box;
    padding : 0;
=======
<<<<<<< HEAD
body {
>>>>>>> juan
    margin: 0;
<<<<<<< HEAD
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    display: flex;
}

=======
}

html , body {
    height : 100%;
    margin : 0;
}

>>>>>>> sebas
#map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height : 100%;
    width: 100%;
}

#map {
<<<<<<< HEAD
    height : 100%;
    width: 100%;
}
=======
    width: 800px;
    height: 600px;
}
=======
* {
    box-sizing: border-box;
    padding : 0;
    margin: 0;
}

html , body {
    height : 100%;
    margin : 0;
    padding:0;
}

#map-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height : 100%;
    width: 100%;
}

#map {
    height : 100%;
    width: 100%;
}

.login_cont {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.space_cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 150px;
    margin-top: 80px;
    margin-right: 200px;
}


>>>>>>> master
>>>>>>> juan
