{% include 'navbar.html' %}
{% block content %}
    <form method="POST" style="margin: 20px 150px;">
        {% csrf_token %}
    
        <div style="margin-bottom: 30px;" class="text-center">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Crear recordatorio</h2>
        </div>

        <div class="mb-6">
            <label for="datetimepicker" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Fecha y hora del recordatorio</label>
            <input type="datetime-local" id="datetimepicker" name="remember" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light">
        </div>
        
        <input type="hide" id="remember_to" name="remember_to">
        
        <div class="mb-6">
            <label for="{{ form.space.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Espacio</label>
            {{ form.space }}
        </div>
        
        <div class="mb-6">
            <label for="{{ form.user.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">User</label>
            {{ form.user }}
        </div>

        <button class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500" title="Confirmar recordatorio">
            <i class="fa-solid fa-check"></i>
            <span class="sr-only">Reminder Icon</span>
        </button>
    
    </form>

    <script>
        document.getElementById("datetimepicker").addEventListener("change", function () {
            const inputDate = this.value; // Obtiene el valor del campo datetime-local en formato local
    
            // Convierte la fecha y hora local en una fecha de JavaScript
            const localDate = new Date(inputDate);
    
            // Formatea la fecha y hora en el formato de MySQL (YYYY-MM-DD HH:MM:SS)
            const mysqlFormattedDate = localDate.toISOString().slice(0, 19).replace("T", " ");
    
            // Asigna el valor formateado al campo hidden (o lo envía al servidor)
            document.getElementById("remember_to").value = mysqlFormattedDate;
        });
    </script>
    
{% endblock content %}