{% include 'navbar.html' %}
{% block content %}
    <form method="POST" enctype="multipart/form-data" style="margin: 20px 150px;">
        {% csrf_token %}
    
        <div style="margin-bottom: 30px;" class="text-center">
            <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Editar Espacio</h2>
        </div>
    
        <div style="margin-bottom: 15px;">
            <p class="mb-3 font-normal text-black-700 dark:text-black-400">Escriba en los espacios que quiere editar.</p>
        </div>
    
        <div class="mb-6">
            <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del espacio</label>
            <input type="text" id="name" name="name" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ space_form.name.value }}">
        </div>
        
        <div class="mb-6">
            <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Descripción del espacio</label>
            <input type="text" id="description" name="description" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ space_form.description.value }}">
        </div>
        
        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="mb-6">
                <label for="latitude" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Latitud</label>
                <input type="text" id="latitude" name="latitude" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ space_form.latitude.value }}">
            </div>
            <div class="mb-6">
                <label for="longitude" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Longitud</label>
                <input type="text " id="longitude" name="longitude" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ space_form.longitude.value }}">
            </div>
        </div>

        <div class="mb-6">
            <label for="availability" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Disponibilidad</label>
            <select id="availability" name="availability" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for value, label in space_form.fields.availability.choices %}
                    <option value="{{ value }}" {% if value == space_form.instance.availability %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>   
        </div>
        
        <div class="mb-6">
            <label for="classification" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Clasificación</label>
            <select id="classification" name="classification" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                {% for value, label in space_form.fields.classification.choices %}
                    <option value="{{ value }}" {% if value == space_form.instance.classification %}selected{% endif %}>{{ label }}</option>
                {% endfor %}
            </select>       
        </div>

        <div class="grid md:grid-cols-2 md:gap-6">
            <div class="mb-6">
                <label for="image" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nueva imagen del espacio (opcional)</label>
                <input name="image" accept="image/*" class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400" aria-describedby="space_image" id="space_image" type="file">
            </div>
            <div class="mb-6">
                <label for="max_occupancy" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ocupancia máxima</label>
                <input type="number" id="max_occupancy" name="max_occupancy" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 dark:shadow-sm-light" value="{{ space_form.max_occupancy.value }}">
            </div>
        </div>

        <div style="margin-bottom: 5px;">
            <center>
                <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Guardar</button>
            </center>
        </div>
    
    </form>
{% endblock content %}