{% include 'navbar.html' %}
{% block content %}
    <div class="container mx-auto" style="margin-top: 20px;">
        <form action="" method="get">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative" style="margin: 20px 0px;">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                    </svg>
                </div>
                <input type="search" id="searchSpace" name="searchSpace" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Cancha, mesa...">
                <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Buscar</button>
            </div>
        </form>

        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-4">
            {% for space in spaces %}
            <div class="bg-white border border-gray-200 rounded-lg shadow-xl dark:bg-gray-800 dark:border-gray-700" style="height: fit-content; margin-bottom: 35px;">
                <img class="aspect-video w-96 rounded-t-lg object-cover object-center" style="height: 140px;" src="{{ space.image.url }}" alt="{{ space.name }}">
                <div class="px-6 py-4">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ space.name }}</h5>
                    <!-- Contenedor de descripción truncada -->
                    <p class="mb-3 font-normal text-black-700 dark:text-black-400 truncate-description" style="max-height: 100px; overflow: hidden;">
                        {{ space.description }}
                    </p>
                    
                    <!-- Contenedor de descripción completa (inicialmente oculto) -->
                    <div class="description-full hidden">
                        {{ space.description }}
                    </div>
                    
                    <!-- Botón para mostrar/desplegar descripción -->
                    <button type="button" class="toggle-description">
                        <span class="toggle-icon text-blue-500""><i class="fa-solid fa-ellipsis"></i></span>
                        <span class="sr-only">Toggle Description</span>
                    </button>                                                     

                    <p class="mb-3 font-normal text-black-700 dark:text-black-400"><b>Disponibilidad:</b> {{ space.get_availability_display }}</p>
                    <p class="mb-3 font-normal text-black-700 dark:text-black-400"><b>Clasificación:</b> {{ space.get_classification_display }}</p>
                    <p class="mb-3 font-normal text-black-700 dark:text-black-400"><b>Latitud:</b> {{ space.latitude }}</p>
                    <p class="mb-3 font-normal text-black-700 dark:text-black-400"><b>Longitud:</b> {{ space.longitude }}</p>
                    <p class="mb-3 font-normal text-black-700 dark:text-black-400"><b>Ocupación:</b> {{ space.occupancy }}/{{ space.max_occupancy }}</p>
                    <div>
                        <a href="{% url 'edit_space' space.id %}" data-tooltip-target="tooltip-edit" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                            <i class="fa-solid fa-pen"></i>
                            <span class="sr-only">Edit Icon</span>
                        </a>
                        <div id="tooltip-edit" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            Editar espacio
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                        <a href="{% url 'delete_space' space.id %}" data-tooltip-target="tooltip-delete" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                            <i class="fa-solid fa-trash-can"></i>
                            <span class="sr-only">Delete Icon</span>
                        </a>
                        <div id="tooltip-delete" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
                            Eliminar espacio
                            <div class="tooltip-arrow" data-popper-arrow></div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="fixed z-50 -translate-x-1/2 bottom-4 left-1/2">
        <div class="bg-white inline-block rounded-full" style="padding: 15px;">
            <a href="{% url 'add_space' %}" data-tooltip-target="tooltip-new" class="text-blue-700 border border-blue-700 hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:focus:ring-blue-800 dark:hover:bg-blue-500">
                <i class="fa-solid fa-circle-plus"></i>
                <span class="sr-only">Add</span>
            </a>
        </div>
        <div id="tooltip-new" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 bg-gray-900 rounded-lg shadow-sm opacity-0 tooltip dark:bg-gray-700">
            Añadir espacio
            <div class="tooltip-arrow" data-popper-arrow></div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const checkboxes = document.querySelectorAll('input[type="checkbox"]');
            const selectedFiltersCookie = getCookie('selectedFilters');

            if (selectedFiltersCookie) {
                const selectedFilters = selectedFiltersCookie.split(',');
                checkboxes.forEach(function (checkbox) {
                    if (selectedFilters.includes(checkbox.value)) {
                        checkbox.checked = true;
                    }
                });
            }

            checkboxes.forEach(function (checkbox) {
                checkbox.addEventListener('change', function () {
                    // Almacenar los valores seleccionados en un arreglo
                    const selectedFilters = Array.from(checkboxes)
                        .filter(cb => cb.checked)
                        .map(cb => cb.value);

                    // Actualizar una cookie con los valores seleccionados
                    setCookie('selectedFilters', selectedFilters.join(','));

                    // Enviar el formulario
                    document.querySelector('form').submit();
                });
            });

            function getCookie(name) {
                const value = `; ${document.cookie}`;
                const parts = value.split(`; ${name}=`);
                if (parts.length === 2) return parts.pop().split(';').shift();
            }

            function setCookie(name, value, days) {
                const date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                const expires = `expires=${date.toUTCString()}`;
                document.cookie = `${name}=${value};${expires};path=/`;
            }
        });

        document.addEventListener('DOMContentLoaded', function () {
            const toggleButtons = document.querySelectorAll('.toggle-description');

            toggleButtons.forEach(function (button) {
                button.addEventListener('click', function () {
                    const container = this.parentElement;
                    const truncatedDescription = container.querySelector('.truncate-description');
                    const fullDescription = container.querySelector('.description-full');
                    const toggleIcon = this.querySelector('.toggle-icon'); // Obtener el ícono

                    if (truncatedDescription.style.display === 'none' || truncatedDescription.style.display === '') {
                        truncatedDescription.style.display = 'block'; // Mostrar la descripción truncada
                        fullDescription.style.display = 'none'; // Ocultar el contenido completo
                        toggleIcon.innerHTML = '<i class="fas fa-ellipsis-h"></i>'; // Cambiar el ícono a "..."
                    } else {
                        truncatedDescription.style.display = 'none'; // Ocultar la descripción truncada
                        fullDescription.style.display = 'block'; // Mostrar el contenido completo
                        toggleIcon.innerHTML = '<i class="fas fa-times"></i>'; // Cambiar el ícono a "x"
                    }
                });
            });

            const truncateElements = document.querySelectorAll('.truncate-description');

            truncateElements.forEach(function (element) {
                const fullHeight = element.scrollHeight;

                if (fullHeight <= 100) {
                    // El contenido se ajusta correctamente, ocultar el botón
                    const toggleButton = element.parentElement.querySelector('.toggle-description');
                    toggleButton.style.display = 'none';
                }
            });
        });
    </script>
{% endblock content %}