{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Mapa con marcadores y etiquetas</title>
    <!-- Incluir la biblioteca Leaflet (CDN) -->
    <link rel="stylesheet" href="{% static '/css/map.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
    <!--<div id="map" style="width: 800px; height: 600px;"></div>-->
    <div id="map-container">
        <div id="map"></div>
    </div>
    <script src="{% static 'map.js' %}"></script>
    <script>
        var zones = {
            {% for zone, state in spaces.items %}
                "{{ zone }}" : {{ state }},
            {% endfor %}
        };
        for(var zone in zones){
            var state = zones[zone];
            var iconUrl = state == 1.0 ? 'static/occu.png' : 'static/pin.gif';
            var icon = L.icon({
                iconUrl : iconUrl,
                iconSize : [32,32],
                iconAnchor : [16,32],
            });
            const Coordinates = [6.20128, -75.578756];
            L.marker(Coordinates, {icon: icon}).addTo(map);
        };
    </script>
</body>
</html>
